@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;

   
}
:root{
    --sky-blue: #0284c7;
    --text-grey: #737373;
}

body{
    display: grid;
    grid-template-columns: 1fr 3.5fr;
    grid-template-rows: 80px 80px 900px;
    grid-template-areas: 
    "sidebar header"
    "sidebar nav"
    "sidebar article";
}
img{
    width:25px;
    height:25px;
    
}
.sidebar-title-container img , .sidebar-main-icons img
, .sidebar-extra-icons img{
    filter: invert(1);
}
.sidebar-title-container img{
    width:50px;
    height:50px;

}
.sidebar-main-icons img{
    width:25px;
    height:25px;

}

/* Sidebar */

.sidebar{
    grid-area: sidebar;
    background-color: var(--sky-blue);
    
    color:white;

}
.sidebar-title-container{
    gap:10px;
    padding:20px;

    display:flex;
    justify-content: flex-start;
    align-items: center;

    font-weight: bold;
    font-size: 2rem;
}
.sidebar-main-icons, .sidebar-extra-icons{
    padding:20px;
    display:flex;
    flex-direction: column;
    gap:8px;
    
    font-weight: bold;
    font-size:1.5rem;
}
.sidebar-main-icons > div, .sidebar-extra-icons > div{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    padding:10px;
    gap:20px
}

/* Header */

.header{
    grid-area: header;
    background-color: white;
    display:flex;
    justify-content: space-around;
    padding:20px;
    
  
}
.header-leftside{
    width:60%;
    display:flex;
    gap:10px;
    align-items: center;
    
}
.header-leftside input{
    width:500px;
    height:30px;
    border-radius: 8px;
    background-color: #e2e8f0;
    border: 1px solid #e2e8f0;
    border-radius: 16px;

}

.header-rightside{
    display:flex;
    width:30%;
    gap:20px;
    align-items: center;
    
}
.header-rightside .profile-image{
    width:40px;
    height: 40px;
    border-radius: 24px;
}
.header-rightside > div{
   font-weight: 600;
   font-size: 20px;
   
}

/* Nav */
.nav{
    grid-area: nav;
    background-color: white;
    
    display:flex;
    align-items: center;

    box-shadow: 0 4px 2px -2px gray;
   
}

.nav-image-container{
    width:10%;
    display:flex;
    justify-content: flex-end;
}
.nav-image-container img{
    width:60px;
    height:60px;
    border-radius: 36px;
}
.nav-introduction{
    width:50%;
    padding:10px;
    padding-left: 20px;
    font-weight: bold;
    display:flex;
    flex-direction: column;
    gap:5px;
}
.nav-button-container{
    width:30%;
}
.nav-static-intro{
    font-size: 12px;
    font-weight: 600;
}
.nav-name{
    font-size: 24px;
    font-weight: 600;
}
.nav-button-container{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.nav-button-container .btn{
    text-align: center;
    width:100px;
    height: 35px;
    border-radius: 18px;
    background-color: var(--sky-blue);
    color:white;
    border:none;
    font-weight: 500;
    font-size: 16px;
}

/* Article */

.article{
    grid-area: article;
    background-color: #e2e8f0;  
    display:grid;
    grid-template-columns: 2.5fr 1fr;
    grid-template-rows: 370px 420px;
    grid-template-areas: 
    "project-container ann-container"
    "project-container trending-container";
    padding:30px;
    gap:10px;

    
}


.project-container{
    grid-area: project-container;
}
.project-content{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
    gap:20px;
}
.project-title{
    font-size: 20px;
    font-weight: 500;
    padding:10px;
    padding-left: 0;
}
.project-card{
    background-color: white;
    border-left: 8px solid #fbbf24;
    border-radius: 8px;
    width:350px;
    height:221px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5); 
    padding:30px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-title{
    font-weight: 500;
}
.card-description{
    font-size: var(--text-grey);
    color: #737373;
}

.card-img-container{
    display:flex;
    justify-content: flex-end;
    gap:20px;
}

.ann-container{
    grid-area: ann-container;
    
    
}
.ann-content-container{
    background-color: white;
    display:flex;
    flex-direction: column;

    border-radius: 12px;

    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5); 
    
}

.ann-title{
    font-size: 20px;
    font-weight: 500;
    padding:10px;
    padding-left: 0;
}

.ann-content{
    
    border-bottom: 1px solid var(--text-grey);

    margin:20px;
    margin-bottom: 0;
    display:flex;
    flex-direction: column;
    padding:10px;

}
.ann-content:nth-child(2), .ann-content:nth-child(3){
    margin-top: 10px;
}
.ann-content:nth-child(3){
    border-bottom: none;
    margin-bottom: 20px;
}
.ann-content-title{
    font-weight: 500;
    font-size: 16px;
}
.ann-content-info{
    font-size: 12px;
    color: var(--text-grey)
}

.trending-container{
    grid-area: trending-container;
}

.trending-title{
    padding:10px;
    padding-left: 0;

    font-weight: 500;
    font-size: 20px;
}
.trending-content-container{
    background-color: white;
    border-radius: 12px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    
    padding:30px;
}
.trending-content-info-container{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;

    padding:10px;

}
.trending-content{
    display:flex;

    align-items: center;
    padding-top:10px;
    gap:5px;
}


.trending-img-container img{
    width:50px;
    height:50px;
    border-radius: 24px;
}
.trending-content:nth-child(1){
    padding-top:0;
}


.trending-username{

}
.trending-user-info{
    color:var(--text-grey)
}